body {
	text-align: center;
	font-color: black;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Scada', sans-serif;

}
h1 {
	color: white;
	font-family: 'Baloo Bhaina', cursive;


}
.box {
	padding-top: 200px;
}
.book {
	padding-top: 20px;
	padding-bottom: 10px;
	padding: 20px;
	border-radius: 10px;
	display: inline-block;
	height: 580px;
	width: 250px;
	margin: 10px;
	background-color: black;
	opacity: .85;


}


.thumbnail {
	height: 300px;
	padding-top: 10px;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid black;

}
#results {
	width: 100%;
	display: block;
	margin: 0 auto;
}

img.thumbnail {
	height:250px;
	width: 70%;
	opacity: 1.0;
}

button {    

    padding: 5px 10px;
    background-color:white;
    border: 1px solid black;
    box-shadow: 4px 4px 10px black;
    text-decoration: none;
    opacity: .70;
}
a {
	text-decoration: none;
	font-weight: bolder;
}
.text {
	height: 240px;
	overflow: hidden
	color: white;
}

h5 {
	overflow: hidden;
	color: white;
}

h4 {
	font-style: italic;
	color: white;
	font-family: 'Kalam', cursive;
}
h3 {
	font-weight: bold;
	color:white;
	font-family: 'Baloo Bhaina', cursive;

}